*:focus {
    outline: none;
    box-shadow: none;
}

.no-background {
    background: none !important;
}

.no-border {
    border: 0 !important;
}

@media (max-width: 768px) {
    .upload-name {
        max-width: 85px;
    }
}

.js-UploadSelectBtn:hover {
    opacity: 0.5;
}

.js-UploadSelectBtn.selected {
    opacity: 0.5;
}

.js-UploadNewOpenBtn {
    &.w-100 {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
}

.js-UploadNewOpenBtn {
    &.w-50 {
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
}

.js-UploadCurrentOpenBtn {
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

table {
    th {
        cursor: default;

        &.sortable {
            cursor: pointer;
        }
    }

    &.table-hover {
        tr.hovered {
            background-color: #f5f5f5;
        }
    }
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0;

    &:before {
        content: none;
    }
}

.bootbox-close-button {
    &.close {
        overflow: hidden;
        text-indent: -9999px;

        &::before {
            float: left;
            text-indent: 0;
        }
    }
}

.ql-toolbar, .ql-toolbar.ql-snow {
    border: 1px solid rgba(0,40,100,.12);
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    button {
        color: #495057 !important;

        &:hover {
            color: #4AAEE3 !important;
        }
    }
}

.ql-container, .ql-container.ql-snow {
    font-size: 0.9375rem;
    min-height: 120px;
    border: 1px solid rgba(0, 40, 100, .12);
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label {
    &::before {
        content: 'Font Size';
    }

    &[data-value="12px"]::before {
        content: '12px';
    }

    &[data-value="14px"]::before {
        content: '14px';
    }

    &[data-value="16px"]::before {
        content: '16px';
    }

    &[data-value="18px"]::before {
        content: '18px';
    }

    &[data-value="20px"]::before {
        content: '20px';
    }

    &[data-value="22px"]::before {
        content: '22px';
    }

    &[data-value="24px"]::before {
        content: '24px';
    }
}

.ql-snow .ql-picker.ql-size .ql-picker-item {
    &[data-value="12px"]::before {
        content: '12px';
        font-size: 14px !important;
    }

    &[data-value="14px"]::before {
        content: '14px';
        font-size: 14px !important;
    }

    &[data-value="16px"]::before {
        content: '16px';
        font-size: 16px !important;
    }

    &[data-value="18px"]::before {
        content: '18px';
        font-size: 18px !important;
    }

    &[data-value="20px"]::before {
        content: '20px';
        font-size: 20px !important;
    }

    &[data-value="22px"]::before {
        content: '22px';
        font-size: 22px !important;
    }

    &[data-value="24px"]::before {
        content: '24px';
        font-size: 24px !important;
    }
}

.is-invalid + .select2-container .select2-selection {
    border: 1px solid #DD7467;
    border-radius: 3px;
}
