*:focus {
    outline: none;
    box-shadow: none;
}

.no-background {
    background: none !important;
}

.no-border {
    border: 0 !important;
}

@media (max-width: 768px) {
    .upload-name {
        max-width: 85px;
    }
}

.js-UploadSelectBtn:hover {
    opacity: 0.5;
}

.js-UploadSelectBtn.selected {
    opacity: 0.5;
}

.js-UploadNewOpenBtn.w-100 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.js-UploadNewOpenBtn.w-50 {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.js-UploadCurrentOpenBtn {
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

table th {
    cursor: default;
}

table th.sortable {
    cursor: pointer;
}

table.table-hover tr.hovered {
    background-color: #f5f5f5;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0;
}

.breadcrumb-item + .breadcrumb-item:before {
    content: none;
}

.bootbox-close-button.close {
    overflow: hidden;
    text-indent: -9999px;
}

.bootbox-close-button.close::before {
    float: left;
    text-indent: 0;
}

.ql-toolbar, .ql-toolbar.ql-snow {
    border: 1px solid rgba(0, 40, 100, .12);
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.ql-toolbar button, .ql-toolbar.ql-snow button {
    color: #495057 !important;
}

.ql-toolbar button:hover, .ql-toolbar.ql-snow button:hover {
    color: #4aaee3 !important;
}

.ql-container, .ql-container.ql-snow {
    font-size: 0.9375rem;
    min-height: 120px;
    border: 1px solid rgba(0, 40, 100, .12);
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before {
    content: 'Font Size';
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="14px"]::before {
    content: '14px';
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="16px"]::before {
    content: '16px';
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="18px"]::before {
    content: '18px';
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="22px"]::before {
    content: '22px';
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="24px"]::before {
    content: '24px';
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="32px"]::before {
    content: '32px';
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
    content: '14px';
    font-size: 14px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
    content: '16px';
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
    content: '18px';
    font-size: 18px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="22px"]::before {
    content: '22px';
    font-size: 22px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before {
    content: '24px';
    font-size: 24px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="32px"]::before {
    content: '32px';
    font-size: 32px !important;
}

.is-invalid + .select2-container .select2-selection {
    border: 1px solid #dd7467;
    border-radius: 3px;
}
