*:focus {
    outline: none;
    box-shadow: none;
}

.breadcrumb-item + .breadcrumb-item:before {
    content: none;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0;
}

.no-background {
    background: none !important;
}

.no-border {
    border: 0 !important;
}

table th {
    cursor: default;
}

table th.sortable {
    cursor: pointer;
}

@media (max-width: 768px) {
    .upload-name {
        max-width: 85px;
    }
}

a.js-UploadSelectBtn:hover {
    opacity: 0.5;
}

.js-UploadSelectBtn.selected {
    opacity: 0.5;
}

.table-hover tr.hovered {
    background-color: #f5f5f5;
}

.bootbox-close-button.close {
    overflow: hidden;
    text-indent: -9999px;
}

.bootbox-close-button.close::before {
    float: left;
    text-indent: 0;
}

.fr-toolbar {
    border: 1px solid rgba(0,40,100,.12);
    border-radius: 3px !important;
}

.fr-box.fr-basic .fr-wrapper {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid rgba(0,40,100,.12);
    border-right: 1px solid rgba(0,40,100,.12);
}

.fr-box .second-toolbar {
    border: 1px solid rgba(0,40,100,.12);
    border-radius: 3px !important;
}